* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  background-color: black;
  margin: 20px 10px 0 10px;
}

nav {
  width: 35%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
}

nav li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #d3d3d3;
  display: inline-block;
  padding: 10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  color: black;
}

.tri-column {
  width: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.photo-count {
  background-color: #8dfdd2;
}

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 15px;
}

.photo-row {
  width: 100%;
  margin: 13px auto;
}

img {
  width: 100%;
}

.photo-card {
  width: 33.33%;
  float: left;
  padding: 2px;
}

.edit-bar {
  width: 100%;
  background-color: #fed400;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 7px;
  text-align: center;
  margin: 0 0 20px 0;
}

footer {
  width: 100%;
  max-width: 800px;
  margin: 10px 10px 20px 10px;
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
