* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
}

header {
  background-color: black;
  margin-top: 20px;
}

nav ul {
  margin-top: 5px;
}

nav li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  background-color: #cccccc;
  display: inline-block;
  padding: 10px;
}
